/* .maine{
    background-color: #3044cf;
} */
@media (max-width: 480px) {
    .texts {
 
        letter-spacing: 5px;
        color: #fff;
        padding-left: 80px !important;
        /* width: 100%; */
    
    }
}






/* For screens up to 1280px */
@media (min-width: 1280px) {
    .texts {
        font-size: 30px !important;
        font-weight: 800;
        letter-spacing: 5px;
        color: #fff;
        /* padding-left: 270px; */
        margin-left: 200px;
    }
}

.bcolor{
    color: #7e0926;
}