@media (max-width: 480px) {
  .iconcart{
    margin-left: 100px !important;
  } 
  .linktag{
    margin-left: 100px !important;
  }
  .menue {
     
      margin-left: 50px;
    }
    .navbar-nav li {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .inputsfield{
      display: flex;
    }
  }
  .searchicon{
    font-size: 45px;
  }
  .bgcolor{
    background-color: #7e0926;
  }

  .search-results {
    max-height: 250px; /* Limits height so it doesn't get too big */
    overflow-y: auto;  /* Enables scrolling */
    z-index: 1050; /* Ensures it stays above everything */
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }
  @media (min-width: 1280px) {
    .inputsfield {
      display: none;
    }
  }
  

  .mdscreens:focus {
    outline: none;      /* Remove the outline on focus */
    border: none;       /* Remove the border when focused */
  }
  
  
  /* Importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global selector for applying the fonts */
* {
  font-family: 'Roboto', sans-serif; /* Default font for all elements */
}

/* Custom Montserrat Class with weight and style */
.montserrat {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-weight: normal; /* You can replace 'normal' with specific values like 400, 700 etc. */
  font-style: normal;  /* Replace with 'italic' if you need italic text */
}

.maineheaderinputdiv{
  width: 250px;
}
.maineheaderinputdiv button{
  font-weight: 600;
}

.inpdiv{
  border-radius: 10px;
}
.badge{
 color: #7e0926;
}

