.maine{
    background-color: #0a0a0a;
}
@media screen and (max-width: 480px) {
    .texts {
        font-size: 20px; /* Correct syntax for CSS */
    }
}
.texts{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 5px;
    color: #fff;
    padding-left: 50px;
}

.textes{
    color: black;
}
.btn-color{
    background-color: #7e0926;
}