.background{
    background-color: #3044cf;
}
/* Apply opacity to links */
ul li a {
    opacity: 0.8;
    transition: opacity 0.3s ease; /* Smooth transition */
  }
  
  /* Change opacity on hover */
  ul li a:hover {
    opacity: 1;
  }
  