.emptydiv{
    width: 100%;
    height: 10xp;
    background-color: aqua;
}
.price{
    color: #7e0926 !important;
    font-weight: 700;
}
.btns{
    background-color: #7e0926 !important;
    font-weight: 700;
    border: none;
    padding: 5px;
}
.btn-color{
    background-color: #7e0926 !important;
    color: white; 
}