.emptydiv{
    width: 100%;
    height: 10xp;
    background-color: aqua;
}
.price{
    color: #3044cf;
    font-weight: 700;
}
.btns{
    background-color: #3044cf;
    font-weight: 700;
    border: none;
    padding: 5px;
}